*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.Product-box{
    min-height: 500px;
    /* background-color: #ccc; */
    padding: 10px;
    margin: 10px;
}
.product-category-container{
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100%;
    gap:30px;
}
.product_category_aside{
    /* background-color: red; */
    height: 100%;
}
.product_category_aside h3{
    padding: 15px 0;
}
.product_category_display{
    /* background-color: green; */
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(4,minmax(250px,1fr));
}
.search_category_input{
    display: flex;
    padding: 15px;
    font-size: 18px;
    border:2px solid #ccc;
    border-radius: 5px;
}
.search_category_input input{
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    padding: 0px 10px;
}
.search_category_input input::placeholder{
    font-size: 15px;
}
.display_Category_list{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.category-btn{
    padding: 10px 0;
    border: none;
    background-color: #f43397;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
