
*{
    margin: 0px;
}
#nav_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:60px;
    margin: auto;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    font-family:-apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    letter-spacing: 0.5px;
    color: #403e47;
    padding: 0 12px;
    position: sticky;
    top: 73px;
    z-index: 1;
    background-color: white;
}

#nav_2 span{
    cursor: pointer;

}

.heading{
    color: 
    #515151;
}

#women_ethnic{
    position: absolute;
    top: 60px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    left: 12px;
    height:310px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

.women_ethnic_options{
    display: flex;
    min-width: 7%;
    flex-direction: column;
    margin-top :20px;
    color: rgb(102,102,102);
    padding:0 17px 0 17px;
}

.women_ethnic_options *{
    width: 100%;
    height: 35px;  
}

.women_ethnic_options>span:nth-child(1){
    color: #f43397;
    font-size: 17px;
    margin-bottom: 10px;
}
#hover_1:hover #women_ethnic{
    display: flex;
}

#hover_1:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;

}
#hover_1:hover #option_1{
    color: #f43397;
    
}

#nav_2>div{
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}
#option_1,#option_2,#option_3,#option_4,#option_5,#option_6,#option_7,#option_8,#option_9{
    color: black
}

#women_western{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:220px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_2:hover #women_western{
    display: flex;
}

#hover_2:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;

}

#hover_2:hover #option_2{
    color: #f43397;   
}

.women_western_options{
    min-width:7.5%;
    max-width: 10%;
}

#jewellery{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:320px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_3:hover #jewellery{
    display: flex;
}

#hover_3:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}

#hover_3:hover #option_3{
    color: #f43397;
}

.jewellery_options{
    min-width:8%;
}

#men{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:290px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_4:hover #men{
    display: flex;
}

#hover_4:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}

#hover_4:hover #option_4{
    color: #f43397;  
}

.men_options{
    min-width:8%;
}

#men div:nth-child(even),#jewellery div:nth-child(even),#women_ethnic div:nth-child(even),#women_western div:nth-child(even),#kids div:nth-child(even),#electronics div:nth-child(even),#beauty div:nth-child(even),#home_kitchen div:nth-child(even),#bags div:nth-child(even){
    background-color: #f9f9f9;
}

#beauty{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:200px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_5:hover #beauty{
    display: flex;
}

#hover_5:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}

#hover_5:hover #option_5{
    color: #f43397;    
}

.beauty_options{
    min-width:6%;
}

#bags{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:190px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_6:hover #bags{
    display: flex;
}

#hover_6:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}
#hover_6:hover #option_6{
    color: #f43397;   
}

.bags_options{
    min-width:8%;
}

#home_kitchen{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:230px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_7:hover #home_kitchen{
    display: flex;
}

#hover_7:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}

#hover_7:hover #option_7{
    color: #f43397;   
}

.home_options{
    min-width:8%;
}

#kids{
    position: absolute;
    top: 60px;
    left:12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:230px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_8:hover #kids{
    display: flex;
}

#hover_8:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;
}

#hover_8:hover #option_8{
    color: #f43397;    
}

.kids_options{
    min-width:7%;
}

#electronics{
    position: absolute;
    top: 60px;
    left: 12px;
    z-index: 1;
    display: none;
    justify-content:left;
    width: 89%;
    height:200px ;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgb(34 34 34 / 12%) 0px 2px 4px, rgb(34 34 34 / 12%) 0px 0px 1px;
    background:rgb(255, 255, 255);
}

#hover_9:hover #electronics{
    display: flex;
}

#hover_9:hover{
    border-bottom: 3px solid #f43397;
    padding-top: 18px;

}
#hover_9:hover #option_9{
    color: #f43397;    
}

.electronics_options{
    min-width:11%;
}

.h_line{
    width: 100%;
    height: 1px;
    background-color:#e3e3e3 ;
}