
.Footer-info{
    padding: 50px 2.8vw;
    background-color: #f9f9f9;
    position: relative;
}
#section-1 {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr;
    gap: 15px;
}
#div-1 h1{
    color: #333;
}
#div-1 p{
    margin: 15px 0;
    color: #666;
    font-size: 15px;
    line-height: 140%;
    font-weight: normal;
 }
 .App-container{
    display: flex;
 }
.App-download{
    position: relative;
    width: 160px;
    height: 50px;
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.App-download img{
    width: 100%;
    height: 100%;
    background-color: black;
}
.list-info,.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.list-info p{
    color: #333;
    margin-bottom: 13px;
    font-weight: 500;
}
.contact-container h3{
    margin-bottom: 15px;
}
#icons{
    display: flex;
    flex-direction: column;
}
#icons div{
    display: flex;
}
#icons img {
    height: 30px;
    aspect-ratio: 1;
    margin: 12px 13px;
    margin-left: 0;
}
.contact-info h3 p {
    font-size: 12px;
    line-height: 150%;
    font-weight: normal !important;
}
#section-2 {
    border: 1px solid #cac9c9;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
}
#section-2 h4{
    font-size: 22px;
    color: #f43397;
    margin-bottom: 18px;
}
#section-2 hr{
    border: none;
    border-top: 1px solid #cac9c9;
    margin: 15px 0;
}
#section-2 h6{
    font-size: 16px;
    font-weight: 500;
}
#section-2 h6+p{
    margin: 12px 0;
    font-size: 13.5px;
    line-height: 140%;
    color: #6a6a6a;
}
#section-2 h6+p span{
    color: #f43397;
    text-transform: capitalize;
    font-weight: bold;
}
#pink-para p{
    color: #f43397;
    font-weight: 500;
    letter-spacing: 1.4px;
}
