
#single-product{
    display: grid;
    padding: 50px 5vw;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    margin: 0 4vw;
 
}
#product-article-2 {
    display: block;
    margin-right: 30px;
    position: relative;
    height: fit-content;
    text-align: center;
}
#main-img {
    width: 100%;
    max-width: 400px;
    height: 520px;
    border: 1px solid rgb(234, 233, 233);
    border-radius: 6px;
}
#product-article-2 button {
    background-color: #f43397;
    color: white;
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 16px;
    margin: 20px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    cursor: pointer;
}
button + hr {
    border: none;
    border-bottom: 1px solid rgb(227, 227, 227);
    margin: 22px 0 25px;
  }
  hr + p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px;
  }
.more-info {
    color: rgb(88, 88, 88);
    background-color: #f9f9f9;
    position: absolute;
    top: 489px;
    left: 5.9px;
    font-size: 13.5px;
    font-weight: 400;
    padding: 9px 10px;
    border-top-right-radius: 5px;
  }
    #product-article-3 div{
        padding: 15px;
        margin: 0 12px 25px;
        box-shadow: 1px 1px 6px 1px #cfcfcf;
    } 
    #price h3 {
        color: #000;
        background-color: #fff;
        padding-left: 0;
        margin: 7px 0;
      }
      #price {
        font-size: 19px;
        font-weight: bold;
        line-height: 160%;
      }
      #price  h2 {
        color: rgb(54, 54, 54);
        font-size: 21px;
        font-weight: 500;
      } 
      .discount-info {
        color: #038d63;
        font-size: 17px;
      }
      .rating-info {
        display: flex;
        align-items: center;
        font-size: 14px;
      } 
      .rating-info p{
        background-color: green;
        font-size: 16px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0 10px;
        margin-right: 9px;
      }
      .firstorder-info {
        margin: 6px 0 0;
        display: flex;
        align-items: center;
        font-weight: 500;
      }
      .firstorder-info img {
        height: 23px;
        aspect-ratio: 1;
        margin-right: 7px;
    }
      h5 + p {
        font-size: 14px;
        font-weight: 500;
      }
      #size p {
        font-size: 18px;
        margin-bottom: 12px;
        font-weight: 500;
      }
      #size button {
        color: #f43397;
        border: 1px solid #f43397;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
        font-weight: bold;
        margin-right: 12px;
      }
      #size button:hover{
        background-color: #f43397;
        color: #fff;
      }
      #details p:nth-of-type(1) {
        font-size: 18px;
        margin-bottom: 12px;
        font-weight: 500;
        color: #000;
      }
      #details p {
        margin-bottom: 4.4px;
        color: rgb(71, 71, 71);
        font-size: 15px;
      }
      #soldBy h6 {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
      }
      #soldBy h6 span {
        color: #f43397;
        margin: 0 5px;
        font-weight: bold;
      }
      #information p {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 500;
        display: flex;
        align-items: center
      }
      #information button {
        color: #f43397;
        border: 1px solid #f43397;
        background-color: #fff;
        padding: 10px 20px;
        margin-right: 15px;
        border-radius: 5px;
        font-weight: 500;
      }
      #information button:hover{
        background-color: #f43397;
        color: #fff;
      }