*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 350px;
    height: 300px;
    background: white; 
}
.txt_field input{
    width: 100%;
    margin: 8px;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
    padding: 10px;
}
.txt_field p{
    color: red;
}
.center h3{
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
    margin-top: 8%;
}
.center p{
    text-align: center;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
.txt_field button{
    width: 100%;
    background: #f43397;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.signup_link{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
}
.signup_link a{
    text-decoration: none;
    color: #f43397;
}