
.payment-container-box{
    padding: 50px 0;
    max-width: 95%;
    width: 400px;
    display: grid;
    gap: 2.5vw;
    margin: 30px auto 50px;
    box-shadow: 1px 1px 6px 1px #e4e4e4;
    padding: 20px 15px;
    padding-bottom: 20px;
    border-radius: 3px;
}
.cod-box{
    display: flex;
    align-items: center;
}
.cod-box p{
    flex-grow: 1;
}
.payment-container-box h1{
    font-size: 22px;
}
.payment-container-box hr{
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 20px 0;
}
.payment-container-box h2{
    font-size: 16px;
    font-weight: 500;
}
.payment-container-box form input{
    width: 99%;
    margin: 18px 0;
    border: none;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgb(178, 178, 178);
    padding: 0 0 8px 6px;
    cursor: pointer;
}
.payment-container-box form input:focus{
    outline: none;
}
.payment-container-box button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #f43397;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
}